html{
    background: rgb(190, 192, 220);
    height: 100%;
    position: relative;
  }
  
  .text{
    display: inline-block;
    position: relative;
  }

  .container{
    display: inline-block;
    height: 50%;
    width: 50%;
    position: relative;
    top: 20%;
    left: 20%;
    margin: -100px 2 0 -100px;
 }
  
  .square{
    height: 90%;
    width: 90%;
    background: rgb(234, 239, 237);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -45% 0 0 -45%;
  }
  
  .black{ 
    background: rgb(206, 206, 221);  
    animation: rotate 10s infinite linear; 
  }
  
  @keyframes rotate{
    0%{ transform: rotate(0deg); }
      100%{ transform: rotate(360deg); }	
  }